<component name="libraryTable">
  <library name="springindicator-1.0.2">
    <CLASSES>
      <root url="jar://$USER_HOME$/.android/build-cache/50a5dcf3cfc67a9a2dfa9f4356f1e91a6f2f7d6a/output/jars/classes.jar!/" />
      <root url="file://$USER_HOME$/.android/build-cache/50a5dcf3cfc67a9a2dfa9f4356f1e91a6f2f7d6a/output/res" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/com.github.chenupt.android/springindicator/1.0.2/a3f538e8002360c69991390acfe41148ff6081af/springindicator-1.0.2-sources.jar!/" />
    </SOURCES>
  </library>
</component>