<component name="libraryTable">
  <library name="springindicator-1.0.2">
    <CLASSES>
      <root url="file://$USER_HOME$/.android/build-cache/bba2d587f87ee363c3171e7ddedecff5b8376e11/output/res" />
      <root url="jar://$USER_HOME$/.android/build-cache/bba2d587f87ee363c3171e7ddedecff5b8376e11/output/jars/classes.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/com.github.chenupt.android/springindicator/1.0.2/a3f538e8002360c69991390acfe41148ff6081af/springindicator-1.0.2-sources.jar!/" />
    </SOURCES>
  </library>
</component>